[submodule "simpleiot"]
	path = projects/go
	url = https://github.com/simpleiot/simpleiot
[submodule "hardware"]
	path = projects/hw
	url = https://github.com/simpleiot/hardware.git
[submodule "firmware"]
	path = projects/fw
	url = https://github.com/simpleiot/firmware.git
